@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    
  }
.wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .main,
  .sidebar {
    padding: 15px;
    color: #fff;
    height: 150vh;
  }
  
  .main {
    width: 85%;
    height: 100%;
    color: #000;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    overflow: scroll;
  }
.sidebar {
    width: 15%;
    height: 100vh;
    background-color: #10243d;
    border-right: 1px solid #95989c;
    color: #fff;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 3;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-left: 0;
    margin-bottom: 65px;
}
.menu-item {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 10px 5px;
    text-align: center;
    overflow: scroll;
}
.last-item {
    position: relative;
}
.last-item::before {
    content: "";
    background: url("/image/arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    top: calc(50% - 7px);
    left: -15px;
}
.menu-link {
    transition: .3s all;
}
.menu-link:hover {
    font-size: 22px;
}
.sidebar-user {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #95989c;
    padding-top: 10px;
    gap: 20px;
    justify-self:flex-end;
    cursor: pointer;
}
.user-avatar {
    width: 40px;
    height: 40px;
}
.user-name {
    font-size: 20px;
}
.logo {
    padding-top: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 150px;
}
.logo-link {
    text-decoration: none;
    color: #fff;
}
.list-item {
    list-style-type: none;
}
.list-link {
    text-decoration: none;
    color: #fff;
    transition: .3s color;
}
.list-link:hover {
    color: #95989c;
}
.nav {
    background-color: #10243d;
    padding: 30px 15px 30px 0;
    margin-bottom: 1500px;
    position: fixed;
    box-sizing: border-box;
    overflow: hidden;
    width: inherit;
}
.list {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.main-div {
    color: #000;
}


  