@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}
html,
body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    width: 100%;
  }
  
  /* .main,
  .sidebar {
    padding: 15px;
    color: #fff;
    min-height: 100%;
  } */
.sidebar {
    width: 15%;
    height: 100%;
    background-color: #10243d;
    border-right: 1px solid #95989c;
    padding-top: 15px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 1;
    overflow-x: hidden;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0;
    margin: 0;
    margin-bottom: 150px;
}
.menu-item {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 0 15px;
    text-align: center;
}
.menu-link {
    transition: .3s all;
}
.menu-link:hover {
    font-size: 22px;
}
.sidebar-user {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #95989c;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
    cursor: pointer;
}
.user-avatar {
    width: 40px;
    height: 40px;
}
.user-name {
    font-size: 20px;
}
.logo {
    padding-top: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 150px;
}
.logo-link {
    text-decoration: none;
    color: #fff;
}
.list-item {
    list-style-type: none;
}
.list-link {
    text-decoration: none;
    color: #fff;
    transition: .3s color;
}
.list-link:hover {
    color: #95989c;
}
.main {
    width: 85%;
    position: fixed;
    top: 0;
    right: 0;
    max-height: 100%;
    color: #000;
    padding: 0;
    overflow-y: scroll;
  }
.navigation {
    background-color: #10243d;
    width: 100%;
    height: 100px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
}
.nav {
    padding-right: 15px;
}
.list {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.main-div {
    color: #000;
    background-color: #95989c;
}
.file {
    width: 600px;
    height: 250px;
    background-color: #e1e2e3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
}
input[type=file] {
    display: none;
}
.file-actions>label {
    border: 1px solid #ccc;
    background-color: #10243d;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: 400;
    transition: box-shadow .3s;
    margin-right: 5px;
}
.file-actions>label:hover {
    box-shadow: 0 0 10px rgba(33,33,33,.5);
}
.file-title {
    font-size: 25px;
    color: #10243d;
}
.submit-input {
    border: none;
    padding: 6px 12px;
    color: #10243d;
    font-weight: 500;
    border-radius: 10px;
    margin-left: 5px;
    transition: border .5s;
    outline: none;
}
.submit-input:focus {
    outline: none;
}
.submit-input:hover {
    border: 1px solid #10243d;
}