<html>
  <head>
     <title> Django image and file upload using ajax </title>
  </head>
<body>
   <form enctype="multipart/form-data" id="id_ajax_upload_form" method="POST" novalidate="">
      {% csrf_token %}
      {{ form }}
      <input type="submit" />
   </form>
   <script 
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript">
    // form upload
    $('#id_ajax_upload_form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: '',
            type: 'POST',
            data: formData,
            success: function (response) {
                console.log('OK')
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    // end
   </script>
</body>
</html>