{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="{% static 'welcome/workspace-style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2 class="logo"><a href="#" class="logo-link">Workplace</a></h2>
            <ul class="menu">
                <li class="list-item menu-item"><a href="#" class="list-link menu-link">Action</a></li>
                <li class="list-item menu-item"><a href="#" class="list-link menu-link">Регрессионный<br> анализ</a></li>
                <li class="list-item menu-item"><a href="#" class="list-link menu-link">Statistic</a></li>
                <li class="list-item menu-item last-item"><a href="#" class="list-link menu-link">Back</a></li>
            </ul>
            <div class="sidebar-user">
                <img src="{% static 'welcome/image/person2.svg' %}" alt="User" class="user-avatar">
                <div class="user-name">Fedya</div>
            </div>
        </div>
        <div class="main">
            <div class="container">
                <div class="navigation">
                    <nav class="nav">
                        <ul class="list">
                            <li class="list-item nav-item"><a class="list-link" href="#">8 923 777-77-77</a></li>
                            <li class="list-item nav-item"><a href="#" class="list-link">Email</a></li>
                            <li class="list-item nav-item"><a href="#" class="list-link">Telegram</a></li>
                            <li class="list-item nav-item"><a href="#" class="list-link">VK</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="work-area">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>
    <script>
        const fileUploader = document.getElementById('id_file');
        const progress = document.getElementById('progress');
        const feedback = document.getElementById('feedback');
        const dropZone = document.getElementById('drop-zone');
        const progressLabel = document.getElementById('progress-label');

        const sleep = ms => new Promise(r => setTimeout(r, ms));

        const reader = new FileReader();

        progress.style.display = 'none';

        fileUploader.addEventListener('change', (event) => {
            const files = event.target.files;
            const file = files[0];

            reader.readAsDataURL(file);

            progress.style.display = 'block';

            reader.addEventListener('progress', async (event) => {
                if (event.loaded && event.total) {
                    const percent = (event.loaded / event.total) * 100;
                    progress.value = percent;

                    progressLabel.innerHTML = Math.round(percent) + '%';

                    await sleep(1000);

                    progressLabel.innerHTML = '';
                    progress.style.display = 'none';

                    
                    if (percent === 100) {
                        const msg = `Файл "${files[0].name}" успешно загружен!`;
                        feedback.innerHTML = msg;
                    }
                }
            });
        });

        

        if (window.FileList && window.File) {
            dropZone.addEventListener('dragover', event => {
            event.stopPropagation();
            event.preventDefault();
            event.dataTransfer.dropEffect = 'copy';
         })
        };
  
        dropZone.addEventListener('drop', event => {
            feedback.innerHTML = '';

            event.stopPropagation();
            event.preventDefault();

            const files = event.dataTransfer.files;
            console.log(files);

            let fileType = files[0].type;
            if(fileType === 'text/csv') {
                reader.readAsDataURL(files[0]);
                reader.addEventListener('load', (event) => {
                    const msg = `Файл "${files[0].name}" успешно загружен!`;
                    feedback.style.color = '#10243d';
                    feedback.innerHTML = msg;
                });
            } else {
                const msg = 'Выберете файл с разрешением ".csv"';
                feedback.innerHTML = msg;
                feedback.style.color = 'red';
            }
        });
    </script>
</body>
</html>