{% extends 'welcome/base-workspace.html' %}
{% block content %}
<div class="file" id="drop-zone">
    <h1 class="file-title">Загрузка файла</h1>
    <form class="file-actions" enctype="multipart/form-data" method="post" id="upload-form">
        {% csrf_token %}
            {{form}}
        </label>
        <input type="submit" value="Отправить" class="submit-input">
        <p class="file-text">Загрузите файл c данными для анализа</p>
    </form>
    <p id="feedback"></p>
    <label id="progress-label" for="progress"></label>
    <progress id="progress" value="0" max="100"> </progress>
</div>
<script 
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript">

        
    $('#upload-form').submit(function(e){
        e.preventDefault();
        console.log(321)
        $form = $(this)
        var formData = new FormData(this);
        let checkboxDiv = document.getElementById("checkboxes-area");
        let radioDiv = document.getElementById("radio-area");
        checkboxDiv.innerHTML = '';
        radioDiv.innerHTML = '';
        $.ajax({
            url: '',
            type: 'POST',
            data: formData,
            success: function (response) {
                response = JSON.stringify(response);
                let json = JSON.parse(response);
                let valiablesArea = document.querySelector(".choose-variables");
                valiablesArea.style.borderTop = "1px solid #95989c";
                valiablesArea.style.paddingTop = "40px";

                let titles = document.querySelectorAll(".variable-title");

                for(let i = 0; i < titles.length; i++) {
                    titles[i].style.display = "block";
                }

                let label;
                let radio_item;

                for(let i = 0; i < json.headers_list.length; i++) {
                    label = document.createElement("label");
                    radio_item = document.createElement("input");

                    radio_item.type = "radio";
                    radio_item.className = "radio-item";
                    radio_item.name = "radio";
                    radio_item.value = json.headers_list[i];
                    radio_item.id = "radio-" + i;

                    label.style.marginRight = '10px';

                    radioDiv.appendChild(label);
                    label.appendChild(radio_item);

                    label.appendChild(document.createTextNode(json.headers_list[i]));
                }

                for(let i = 0; i < json.headers_list.length; i++) {
                    let label = document.createElement("label");
                    let checkBox = document.createElement("input");

                    checkBox.type = "checkbox";
                    checkBox.className = "checkbox";
                    checkBox.value = json.headers_list[i];
                    checkBox.id = "checkbox-" + i;
                    checkBox.name = "checkbox";

                    label.style.marginRight = '10px';

                    checkboxDiv.appendChild(label);
                    label.appendChild(checkBox);
                

                    label.appendChild(document.createTextNode(json.headers_list[i]));
                }

                //код проверки на выбор радиобаттнона
                const
                    formRadio = document.getElementById('radio-area'),
                    formCheck = document.getElementById('checkboxes-area');
                    let linkedCheckbox;
                    let linkedRadio;

                    formRadio.addEventListener("click", switchToppingsRadio);
                    formCheck.addEventListener("click", switchToppingsCheck);

                    function switchToppingsRadio(event) {
                        const clickedThing = event.target;

                        if(clickedThing.name != 'radio') {
                            return;
                        }
                        for(let i = 0; i < json.headers_list.length; i++) {
                            if(clickedThing.id == 'radio-' + i) {
                                linkedCheckbox = document.getElementById('checkbox-' + i).setAttribute("disabled", "");
                                linkedCheckbox = document.getElementById('checkbox-' + i).setAttribute("unchecked", "");
                            } else {
                                linkedCheckbox =document.getElementById('checkbox-' + i).removeAttribute("disabled");
                                linkedCheckbox = document.getElementById('checkbox-' + i).removeAttribute("checked");
                            }
                           
                        }
                    }

                    function switchToppingsCheck(event) {
                        const clickedThing = event.target;

                        if(clickedThing.name != 'checkbox') {
                            return;
                        }
                        for(let i = 0; i < json.headers_list.length; i++) {
                            if(clickedThing.id == 'checkbox-' + i) {
                                linkedRadio = document.getElementById('radio-' + i).toggleAttribute("disabled");
                            }
                        }
                    }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });


   </script>
{% endblock %}